@mixin icon($image,$color){
    background-color: rgb(255, 255, 255);
    background-image: url($image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 50%;
    border-color: $color;
    box-shadow: inset 0px 5px 6px rgb(128, 128, 128), 
    0px 8px darken($color, 15%);
    text-decoration: none;
    color: white;
    
}

@mixin bigShadow($color){
box-shadow:inset 0px 5px 6px grey, 
    0px 8px darken($color, 15%),
    0px 0px 0px 50px rgba(#000000, .07),
    0px 0px 0px 100px rgba(#000000, .05),
    0px 0px 0px 150px rgba(#000000, .025),;
}