//colors

$scissors-gradient: hsl(0, 3%, 57%);
$paper-gradient: hsl(0, 0%, 75%);
$rock-gradient: hsl(0, 0%, 61%);


//text

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(0, 0%, 0%);

//Background
$background-gradient: radial-gradient(circle, hsla(30, 100%, 60%, 0.973),
hsl(30,100%,60%)
);


//Images

$imageP:"./img/paper.png";
$imageS:"./img/scissors.png";
$imageR:"./img/stone.png";
$imageL:"./img/lizard.png";
$imageSp:"./img/spock.png";